@import '~office-ui-fabric-react/dist/sass/References.scss';

.tasks {
    min-height: 500px;
    .commandbar {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: flex-start;
    }

    .selector {
        padding: 1em 0;
    }
    
    .userSelector {
        margin-bottom: 2em;
    }

    .container {
        display: flex;
        flex-flow: row nowrap;
        gap: 1em;
        justify-content: space-evenly;
        align-items: flex-start;
    }
    
    .taskContainer {
        color: $ms-color-neutralPrimary;
        display: flex;
        flex-flow: column;
        align-items: stretch;
        padding: 1em;
        border-left-color: '[theme: themePrimary, default: #0078d7]';
        background-color: '[theme: neutralLighterAlt, default: #fbf4f4]';
        align-self: stretch;

        & > * + * {
            margin-top: 0.7em;
        }
    }
}
